body {
    background:url(../images/background.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* .input-group {
    flex
}
.invalid .form-messege{
    color:red;
} */